/* #gnb.gnb-one .gnb-my-li, #gnb.gnb_one_small .gnb_my_li {
    margin-right: 0;
    margin-left: 0;
} */
body {
    height: 100vh;
}

.profile {
    position: fixed;
    right: 25px;
    top: 14px;
    z-index: 1;
}

a.gnb-my:hover .gnb-name {
    text-decoration: underline;
}

.bar {
    background-color: #2f4798;
    position: fixed;
    z-index: 99999;
    width: 100vw;
}

#gnb{
    text-align:right !important;
    font-size: 12px;
    letter-spacing: 0 !important;
    line-height: 0 !important;
}

#gnb-my-layer{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: right;
}

#gnb.gnb-one .gnb-my-li .gnb-my .gnb-name {
    margin: 0 0 0 4px;
}

#gnb-my .gnb-name {
    padding-left: 5px;
    display: inline-block;
    height: 23px;
    line-height: 28px;
    vertical-align: top;
    font-size: 11px;
}

#gnb a{
    cursor: pointer;
}

.gnb-name {
  margin:auto auto;
}

.login-group {
    white-space: nowrap;
}

#header h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 16px 0px 0px 19px;
    z-index: 30;
    overflow: hidden;
}

h1, body{
    margin: 0;
    padding: 0;
    text-decoration: white;
}

/*body {
    font-family: '나눔고딕' ,NanumGothic,Dotum,'돋움',Helvetica,"Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
}*/

#header h1 DriveYourself {
    background-position: -65px -113px;
    width: 58px;
    height: 23px;
    margin-right: 2px;
}

#header h1
a {
    display: block;
    float: center;

}

.blind {
    display:table; margin-left:auto; margin-right:auto;
    font-size: 35px;
    font-weight: 900;
    color: white;
    clip: rect(0 0 0 0);
    padding-top:5px;
    padding-bottom:5px;
}

a{
    text-decoration: none;
}

.optionSelector {
    position: fixed;
    z-index: 999;
    top: 57px;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid silver;
}
.nav {
    position:fixed;
    z-index: 9999;
    height: 100%;
    padding: 20px 0px 0px 30px;
    font-size: 25px;
}

@media (min-width: 900px) {
    .nav {
        width: 225px;
        border-right: 2px solid silver;
    }
    .optionSelector {
        left: 255px;
    }
    .file {
        max-width: calc(100vw - 255px);
        padding-left: 255px;
    }
}

@media (max-width: 899.98px) {
    .nav {
        margin-left: -15%;
        display: none;
    }
    .file {
        width: 100%;
    }
}

.barPlaceholder {
    height: 57px;
    width:100vw;
}

.container {
    display: flex;
}

.dropbtn {
    background-color: none;
    color: black;
    padding: 0px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: dgray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -16px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

@keyframes dropdownOpen {
    0% {
        margin-left: -174px;
    }
    100% {
        margin-left: 0px;
    }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.cloudyBtn {
  border-radius: 5px;
  border: 1px solid silver;
}

.cloudyBtn:hover {
  background-color: #949494;
}

.file {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding-top: 122.8px;
}

.filelist {
    padding: 20px 32px 0px 32px;
    display: flex;
    flex-wrap: wrap;
}

.fileSelector {
    text-align: center;
    min-width: 170px;
    width: 170px;
    height: 160px;
    padding-top: 6px;
    border: 2px solid white;
    margin: 1px;
}

.fileV {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 30px;
}

.root {
  font-size: 15px;
  margin-left: 15px;
  color: silver;
}

.fileName {
  margin-top: 0px;
  margin-bottom: 10px;
}

.fileIcon {
    margin: 0 auto;
    height: 90px;
    width: 120px;
    background-image: url("https://marketplace.canva.com/MAB7OE9Jppw/1/thumbnail_large/canva-folder-file-yellow-document-info-icon.-vector-graphic-MAB7OE9Jppw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.dir {
  background-image: url("https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/foldericons/folder-large_frontplate_thumbnail.svg");
}

.selectedFile {
    background-color: #DCDCDC !important;
    border: 2px solid #2f4798 !important;
}

.whiteBack {
    background-color: white;
}

.indexImage {
  height:47px;
}

.popup{
    position :fixed;
    z-index: 9999998;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    border: solid 1px black;
    margin: -1px;
}
.popupInside {
  border: 1px solid silver;
  border-radius: 10px;
  height: 180px;
  z-index: 9999999;
  background-color: white;
  margin: 25vh auto;
  position:relative;
}
.popupHeader {
  display: inline-block;
  margin: 10px 15px;
}
.deletePopup {
  width: 400px;
}

.newfolderPopup {
  width: 350px;
}

.folderPopupInput {
  width: 300px;
  margin: 35px 25px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid silver;
}

.filePopupInput {
  width: 300px;
  margin: 35px 25px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid silver;
}

.popupRelative {
  position: relative;
}

.Xbutton {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-block;
    top: 10px;
    right: 15px;
    background-image: url('../static/img/common/cancel.png')
}

.ftimgstyle{
    border: 0px;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 5px 30px;
}

.cloudyImagePrinter {
  height: 200px;
  border: 2px solid #F5F5F5;
}

.cloudyImageSelected {
  border-color: #2f4798;
}

/*.menubar{
    list-style: none;
    padding-left: 0px;
}*/

/*.menubar li ul {
    height: auto;
    padding: 15px 1px 2px 30px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
    font-size: 18px;
}*/

/*.menubar li:hover ul{
    display: block;
}*/
